/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .top-nav-collapse .navbar-brand img {
    width: 48%;
  }
}

/* tablets */
@media (max-width: 991px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .pricing-table-item {
    margin-bottom: 30px;
  }
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .section-title-1{
    font-size:26px !important;
    line-height:1;
  }
  .top-nav-collapse .navbar-brand img {
    width: 48%;
  }
  .pricing-table-item {
    margin-bottom: 30px;
  }
  .testimonial-item {
    padding: 10px;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  #copyright .nav-inline {
    line-height: 28px;
    text-align: left !important;
  }
  #copyright .nav-inline li a {
    padding: 0px 0px 0px 4px;
  }
}

/* mobile or only mobile */
@media (max-width: 767px) {
  .section-padding {
    padding: 50px 0;
  }
  .section-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
    .section-title-1{
    font-size:26px !important;
    line-height:1;
  }
  .top-nav-collapse .navbar-brand img {
    width: 90%;
  }
  .slider-text-bottom p{
    font-size:10px !important;
    line-height:2!important;
    width:100% !important; 
  }
  .btn-lg {
    padding: 7px 14px;
    font-size: 11px;
    min-width:100px !important;
  }
  .btn-border {
    font-size: 9px;
    padding: 5px 9px;
  }
  .navbar-brand img {
    margin: 1px 0;
    width: 90%;
  }
  .full-width{
    margin-top:50px;
  }
  .indigo{
    opacity:1;
  }
  .footer-logo-img{
    display:none;
  }
  #carousel-area .carousel-item .carousel-caption h3 {
    font-size: 10px !important;
  }
  #carousel-area .carousel-item .carousel-caption h5 {
    font-size: 10px !important;
  }
  #carousel-area .btn-lg{
    margin: 1px;
  }
  #carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
    border: none;
  }
  #carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover {
    background: transparent;
    border: none;
  }
  .portfoli-content::before {
    left: 30px;
  }
  .testimonial-item {
    padding: 0;
  }
  .client-item-wrapper img {
    width: 70%;
  }
  .pricing-table-item {
    margin-bottom: 30px;
  }
  .title-head, .contact-info-title {
    font-size: 22px;
  }
  .contact-form {
    margin-bottom: 30px;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  #copyright .nav-inline {
    line-height: 28px;
    text-align: left !important;
  }
  #copyright .nav-inline li a {
    padding: 0px 0px 0px 4px;
  }
  .mobileapp-span{
    font-size:22px !important;
  }
  .mobileapp-p{
    font-size: 15px !important;
    margin-top: 100px;
  }
  .video-section-text{
    left:8%!important;
  }
  .benefit-h3{
    font-size:18px !important;
  }
  .video-section-div{
        height: 350px;
  }
  .video-section-text h3{
    font-size:20px !important;
  }
  .video-section-text-p-bottom{
        font-size: 12px !important;
        padding: 10px !important;
  }
  .video-section-text p{
    font-size:15px !important;
    padding:1px !important;
  }


  .benefit-p{
    font-size:10px !important;
  }
  .video-section-text-p-bottom{
    bottom:0!important;
  }
  #product_1{
    height: 250px !important;  
    background-size:contain !important;

  }
  #product_2{
    height: 250px !important;  
    background-size:contain !important;
  }
  .benifit-div{
    max-width: 100% !important;
  }
  .video-text-p1{
    font-size:11px !important;
        padding-bottom: 25px!important;
  }
  .video-text-h3{
    font-size:24px!important;
  }
  .guest-div-inner{
    margin:50px 10px 15px 10px !important;
    height:80% !important;
    padding: 100px 20px!important;
  }
  .guest-inner-h3{
    font-size: 18px;
  }
  .guest-inner-p{
    font-size:10px !important;
  }
      
}

