.header-text {
    color: black;
}
.btn-background-color {
    background-color: #07335d!important;
    border: 2px solid #ffffff;
}
.slider-text-bottom {
    width: 100%;
    background-color: #ce8403;
    height: 20%;
    box-shadow: 0px 10px 23px -14px rgba(0, 0, 0, 0.75);
    margin-left: 0;
    margin-right: 0;
    bottom: 0 !important;
    /*margin-bottom: 10%;*/
  
}
.header-border {
    border-bottom: solid 5px #16a1de;
    line-height: 2;
}
.img-width-65 {
    width: 65% !important;
}
.img-width-50 {
    width: 50% !important;
}
.div-border-bottom {
    border-bottom: 1px #d1cfcf dashed;
    padding-bottom: 12px;
}
.line-hr {
    background-color: #16a1de;
    width: 75%;
    height: 5px;
    margin-bottom: 15px;
}
.section-title-1 {
    color: #0e0e0f;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: 48px;
    padding: 0 10px;
    position: relative;
    /*border-bottom: solid 5px #16a1de;*/
}
.arrow-slider-img {
    width: 70px;
    position: absolute;
    right: 150px;
    top: 120px;
}
.slider-text-bottom p {
   line-height: 1.3;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    width: 60%;
    text-align: center;
    margin: auto;
}
#rytzee-services {
    /*background: rgba(250, 250, 250, 1);
    background: -moz-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(219, 214, 192, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(219, 214, 192, 1)));
    background: -webkit-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(219, 214, 192, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(219, 214, 192, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(219, 214, 192, 1) 100%);
    background: linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(219, 214, 192, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dbd6c0', GradientType=1);*/
    /*background-image: linear-gradient(to bottom, #dbd6c0, #e4e2d8, #ecebe3, #f5f4f4, #ffffff);*/
}
.block {
    background-color: #fff;
    height: 350px;
    margin: 10px 10px 60px 10px;
    padding: 75px 10px 5px 20px;
    box-shadow: 12px 12px 14px -16px rgba(0, 0, 0, 0.75);
}
.round-circle {
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    border: 4px solid #fff;
    width: 72px;
    height: 72px;
    position: absolute;
    overflow: hidden;
    left: 50px;
    top: 10px;
    margin-top: -36px;
    background: #fff;
    z-index: 2;
}
.about h5 {
    text-align: left;
    color: black;
    font-weight: 100;
}
.featured-box-item .featured-iconn {
    float: left;
}
.featured-box-item .featured-iconn i {
    text-align: center;
    font-size: 20px;
}
.featured-box-item .featured-contentt {
    padding-left: 30px;
}
.mar-bottom-10 {
    margin-bottom: 10px !important;
}
.mar-top-30 {
    margin-top: 30px;
}
.img-small-icon {
    max-width: 30px !important;
}
.img-medium-icon {
    max-width: 50% !important;
}
#mobileapp {
    background-color: #0b3767;
    height: 250px;
}
.mobileapp-img {
    position: absolute;
    top: -60px;
    left: 5px;
}
.mobileapp-p {

	font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: right;
}
.mobileapp-span {
    font-size: 50px;
}
#mobileapplist {
    /*height:1000px;*/
    background-image: url('../img/mobileapp/background-img.jpg');
    background-position: center;
}
.mobileapplist-backcolor {
    background-color: #0b3767;
    opacity: 0.98;
    /*height:1000px;*/
}
.service-h4 {
    color: #f5ad45;
    font-weight:100 !important;
    font-size:16px !important;
}
.service-p {
    font-family: "Myriad Pro","Rubik", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    letter-spacing: 0px;
    margin-bottom: 10px;
}
.service-contentt {
    padding-left: 95px;
}
.line-hr-dash-fill {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: dashed 2px #385677;
    height: 25px;
}
.line-img-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 5%;
}

.font-family-ptsans{
    font-family: 'PT Sans Narrow', sans-serif !important;
}
.font-size-32{
    font-size:18px!important;
}
.font-size-40{
    font-size:40px !important;
}
.font-size-20{
    font-size:20px !important;
}
.benifit-background{
    /*background-color:#002e5e;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#054f7d+0,011829+100 */
background: #054f7d; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #054f7d 0%, #011829 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #054f7d 0%,#011829 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #054f7d 0%,#011829 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054f7d', endColorstr='#011829',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.benifit-background-dark{
    background-color:#ce8403;
    text-align:center;
    padding:15px;
}

.benefit-h3{
    color:#fff;
    font-size:35px;
    font-family: 'PT Sans', sans-serif !important;
}
.benefit-p{
    color:#fff;
    font-weight:500;
    font-family: 'PT Sans', sans-serif !important;
    font-size:18px; 
    padding: 0 30px 0 30px;
   
}
.benift-row-personalized{
    padding:20px 0 10px 25px;
}
.pad-0{
    padding:0!important;
}

.benift-row-personalized .service-box{
    margin:4px !important;
}
.video-section-div{
    background-image:url('../img/benefit/videobg.jpg');
    background-position:top;
    background-repeat:no-repeat;
    background-size: cover;
   
};
.video-section-img{
	height:100%
}

.video-section-text{
    /*position: absolute;
    top: 15%;
    left: 25%;
    text-align: center;*/
    text-align: center;
    margin: 10% auto;
    padding:10px;
}
.video-section-text h3{
    color:#fff;
    font-size:40px;
    font-weight:400;
    text-shadow: 2px 2px #060606;

}

.video-section-text p{
    color:#fff;
    text-shadow: 2px 2px #060606;
    font-weight:bold;
    font-size:24px;
    padding:17px;
        line-height: 1.2;
}
.benift-row-personalized p{
    color:#fff;
    padding:20px;
    text-align: justify;
}
#myModal{
    margin-top:50px;
}
.video-section-text-pp{
    /*font-size:18px !important;*/
    padding-bottom:25px!important; 
}
.video-section-text-p-bottom{
    bottom: 25%;
    position: absolute;
   
}
.fontsize-40{
	font-size:40px;
}
#product_1{
     background-image:url('../img/product/2.jpg');
    background-position:top;
    background-repeat:no-repeat;
    background-size: contain;
    height:800px;
}
#product_2{
     background-image:url('../img/product/3.jpg');
    background-position:top;
    background-repeat:no-repeat;
    background-size: contain;
    height:880px;
}
.benifit-background-div{
    height:200px;
}
.benifit-div{
    background-color: #ce8403;
    margin: 50px auto;
    height: 100%;
    max-width: 75%;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align:center;
    padding-top:30px;
    text-shadow: 1px 1px #a5a0a0;


}
.video-text{
    text-align: center;
    margin: 10px auto;
    padding:36px; 
}
.video-text-p1{
    color:#fff;
    font-size:25px;
    font-weight:bold;
    font-family: 'PT Sans', sans-serif !important;
    padding-bottom: 8px;
}
.video-text-h3{
     color:#fff;
    font-size:40px;
    font-weight:bold;
    font-family: 'PT Sans', sans-serif !important;
}
.guest-div{
   
   
   /* height: 1000px;*/
    background-image: url(../img/benefit/guestimg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 44px;
}

.guest-div-inner{
        background-color: #fff;
    margin: 44px 10px 0 10px;
    padding: 40px 20px;
    height: 87%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 5px 20px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 5px 20px -4px rgba(0,0,0,0.75);
box-shadow: -1px 5px 20px -4px rgba(0,0,0,0.75);
}
.inner-img1{
     background-image: url(../img/benefit/personalized_img.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.inner-img2{
     background-image: url(../img/benefit/incremental_img.jpg);
   background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.guest-inner-h3{
    font-family: 'PT Sans', sans-serif !important;
    padding-bottom:10px; 
}
.guest-inner-p{
    line-height:19px !important;
}